@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: #f0f5ff;
  --color-primary-100: #dbeaff;
  --color-primary-200: #b6d5ff;
  --color-primary-300: #8fbfff;
  --color-primary-400: #669eff;
  --color-primary-500: #337fff;
  --color-primary-600: #2966cc;
  --color-primary-700: #204c99;
  --color-primary-800: #173366;
  --color-primary-900: #0c1a33;

  --color-blue-bg-1: #004080;
  --color-blue-bg-2: #005aa7;
  --color-blue-bg-3: #0071bc;

  --color-green-bg: #014540;
}

*:root {
  #nprogress .bar {
    @apply h-1 bg-green-600;
  }

  #nprogress .peg {
    box-shadow:
      0 0 10px theme("colors.green-600"),
      0 0 5px theme("colors.green-600");
  }

  #nprogress .spinner {
    @apply hidden;
  }
}
